header#change_header {
    animation: animate-background linear 40s infinite;
    background-repeat: repeat!important;
    background-image: url(https://i.imgur.com/0EBRbnD.png);
}
.cNewestMember img {border-radius: 0px!important;}
ul.bs_inline {
    position: absolute!important;
    margin-left:-100px!important;
}
.pun .user .user-info {margin-top:50px;}
body .pun .user .user-ident .user-basic-info {
    font-size:12px !important;
}
.main .main-foot,.main .main-head {
    -khtml-box-shadow: rgba(0,0,0,0.3) 0 1px 5px;
    -moz-border-radius: 0 0 4px 4px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 5px;
    -o-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 5px;
    background: #1c1f25;
    border-bottom: 1px solid rgba(0,0,0,.20);
    border-radius: 0 0 4px 4px;
    border-top: 3px solid #3091C1;
    box-shadow: rgba(0,0,0,0.3) 0 1px 5px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 2px 0 rgba(0,0,0,0.14);
    text-transform: uppercase;
}
/*Notificação de MP*/
#inbox_link span {
  position: absolute;
  bottom: 10px;
  right: 0;
  display: block;
  background-color: #f00;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}
/*espaço links*/
table > tbody > tr > td.tcl > h2 > a,
table > tbody > tr > td.tcl > h3 > a {
  margin-left: 0 !important;
}
/*links funcional*/
a.forumtitle {
  position: relative;
  z-index: 100;
}
/*desbug balao*/
.hover_stats {
    margin-left: 90px !important;
}
/*descrição dos ranks*/
body .tipsy {
    padding: 5px 5px 10px
}
 
body .tipsy-inner {
    background-color: #fff;
    color: #000;
    font-size: 14px;
    padding: 8px 10px;
    position: relative;
}
 
body .tipsy-inner:after {
   top: 100%;
   left: 50%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-color: rgba(255, 255, 255, 0);
   border-top-color: #fff;
   border-width: 8px;
   margin-left: -8px;
}
.user-basic-info > span { 
  display: none;
}
/*reputation desbug*/
#rep_post {white-space: nowrap;margin: 6px 4px;float: right;}
#rep_post .bs_inline {list-style: none;}
#rep_post .bs_inline > li {display: inline-block;margin: 0 3px;}
#rep_post .bs_inline > li:first-child {margin-left: 0;}
#rep_post .bs_inline img {vertical-align: middle;}
#rep_post span img {cursor: pointer;}
#rep_post .reput_vote {
background-image: url('https://i.imgur.com/UGqTZqe.png');
background-repeat: repeat-x;
background-position: 0 1px;
font-size: 10px;
padding: 2px 10px !important;
color: #fff;
font-weight: bold;
display: inline-block;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
text-shadow: rgba(0,0,0,0.3) 0px -1px 0px;
}
.reput_vote.positive {background-color: #8db13e;}
.reput_vote.zero {background-color: #6a6a6a;}

input {
width: auto;
height: auto;
}
div.postbody {
  min-height: 280px;
} 
div.rep_bar,
#rep_post {
  margin: 0 !important;
  padding: 10px;
  float: none;
  text-align: right;
}
 
div.rep_bar .bs_inline,
#rep_post .bs_inline {
  position: static !important;
  margin-left: 0 !important;
}
/*desbug*/
div#pun-announcement {
    background-color: #ffffff!important;
    border-style: none!important;
    border-width: 0px!important;
    padding: 1em!important;
}
div#pun-announcement {margin-bottom:-30px;}
/*By while menu*/
header#change_header {
background-image: url("https://i.imgur.com/0EBRbnD.png");
}
.main_width, .pun {
    margin: 0 auto;
    min-width: 960px;
    width: 88%;
}
/*widgeets*/
.pun #right, .pun #left {
display:inherit;
}
.pun span.legend { 
margin: -10px auto;  
padding:20px 0!important;
}
.pun .legend_group {  
margin-top:  -30px!important;
margin-left: 0px!important; 
position: relative;
display: inline-block; 
}
.pun span.legend {width: auto;}
/*Avatar*/
#quick-avatar {
    float: left;
    margin: 15px -35px 0 13px;
}
#quick-avatar img {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d8d8d8;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    height: 50px;
    padding: 2px;
    width: 50px;
}
/*Alinhamento icones*/
.user-info  img  + br  + dd + dd + dd + dd, .user-info  img  + br  + dd + dd + dd + dd + dd,.user-info  img  + br  + dd + dd + dd + dd + dd + dd,.user-info  img  + br  + dd + dd + dd + dd + dd + dd + dd{   padding: 4px; float: left;}
/*Ajuste tela de fundo*/
body > footer{position:relative!important;top:9px!important;}
header { width: auto !important; }
.container_IE {
    width: auto !important;
    min-width: auto !important;
}
body { overflow-x: hidden; }
/*Icones*/
.pun .user .user-info .label:empty + img {
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  background: #fff;
  border: 1px solid #d8d8d8;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  height: 30px;
  margin-bottom: 5px;
  padding: 1px;
  vertical-align: middle;
  width: 30px;
}
/*reputação*/
#rep_post .bs_inline {list-style: none;}
#rep_post .bs_inline > li {display: inline-block;margin: 0 3px;}
#rep_post .bs_inline > li:first-child {margin-left: 0;}
#rep_post .bs_inline img {vertical-align: middle;}
#rep_post span img {cursor: pointer;}
#rep_post .reput_vote {
background-image: url('https://i.imgur.com/UGqTZqe.png');
background-repeat: repeat-x;
background-position: 0 1px;
font-size: 10px;
padding: 2px 10px !important;
color: #fff;
font-weight: bold;
display: inline-block;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
text-shadow: rgba(0,0,0,0.3) 0px -1px 0px;
}
.reput_vote.positive {background-color: #8db13e;}
.reput_vote.zero {background-color: #6a6a6a;}
#rep_post { margin-top: -12% !important; }
/*Desbug visitantes*/
.pun-crumbs {margin-top:10px!important;margin-bottom:60px!important;}
/*bug usuario*/
.pun-crumbs {margin-top:10px!important;margin-bottom:60px!important;}
/*IMAGEM DE FUNDO*/
.layout_IE {
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;}
/*Ajuste footer*/
.layout_IE{margin-bottom:-68px!important;}
/*FIM*/
#header_bar {position:fixed!important;top:0px!important;}
#user_navigation > ul > a:nth-child(1) > li, #user_navigation > ul > a:nth-child(2) > li {
          background-color: transparent!important;
    cursor: pointer!important;
    float: left!important;
    list-style-type: none!important;
    color: #848484!important;
    font-size: 13px!important;
    font-weight: bold!important;
    text-decoration: none!important;
    text-transform: uppercase!important;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.14)!important;
    height: 60px!important;
    line-height: 60px!important;
    padding: 0 18px!important;
    margin-left: 1px!important;
    font-family: Ubuntu!important;
    -webkit-transition: color .2s ease!important;
    -moz-transition: color .2s ease!important;
    -ms-transition: color .2s ease!important;
    -o-transition: color .2s ease!important;
    transition: color .2s ease!important;
    margin-top:-18px!important;
        }
        #user_navigation > ul > a:nth-child(1) > li:hover, #user_navigation > ul > a:nth-child(2) > li:hover  {
    background-color: #b32222!important;
    color: #FFF!important;
}
/*Ajuste menu-Dropdown*/
#perfil_drop {margin-right:-100px!important;}
/*Menu-DropDown*/
#perfil_drop{
    background: linear-gradient(#FFF, #EDEDED) repeat scroll 0px 0px transparent;
    border: 0px none !important;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
    color: #225985;
    font-family: helvetica,arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    overflow: hidden;
    position: absolute;
    right: 9.2%;
    text-align: left;
    top: 36px;
    width: 360px;
    z-index: 999;
}
.nav_c{
box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.58)!important;
}
 
.avat img {
    background: none repeat scroll 0px 0px #FFF;
    border: 1px solid #D5D5D5;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    height: 50px;
    margin: 10px;
    padding: 1px;
    width: 50px;
}
#perfil_drop li {
    float: right;
    line-height: 22px;
    white-space: nowrap;
    width: 38%;
}
#perfil_drop li a {
    color: #00569C;
    text-decoration: none;
}
.menu_active {
background: #fff;
border-radius: 5px 5px 0 0;
color: #000!important;
}
/*fim*/
.sceditor-container iframe, .sceditor-container textarea{height:100px!important;}
/*fim*/
/*Cor tabelas*/
#tabs ul li.activetab a {
background-color: #b32222!important;
border-color: #b32222!important;
}
/*sistema de reputação*/
.reputation {
    background-color: #3aafc4!important;
    border-radius: 3px;
    border-top: 1px solid rgba(0,0,0,.20);
    bottom: -7px;
    color: #fff!important;
    display: inline-block;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 700;
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0,0,0,0.14);
    text-transform: uppercase;
}
.reputation.zero {
  background-color: rgb(16, 16, 16)!important;
  color: rgb(255, 255, 255);
}
.reputation {
    color: white!important;
    font-size: 13px;
    font-weight: bold;
}
/*fim*/
/* latin-ext */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjalla One'), local('FjallaOne-Regular'), url(https://fonts.gstatic.com/s/fjallaone/v4/SHXJdWnWW6HDq-6DpcG8PyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjalla One'), local('FjallaOne-Regular'), url(https://fonts.gstatic.com/s/fjallaone/v4/rxxXUYj4oZ6Q5oDJFtEd6vk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.post h2.post-content{
    font-family: 'Fjalla One', sans-serif;
    color: #ce1938;
    text-shadow: -1px -1px #ffaab9, -2px -2px #dc1134, 1px 1px #ffaab9, 2px 2px #8b0000;
    font-size: 53px!important;
 }
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: local('News Cycle'), local('NewsCycle'), url(https://fonts.gstatic.com/s/newscycle/v13/d03oiboZGiaNuMDvH253CiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: local('News Cycle'), local('NewsCycle'), url(https://fonts.gstatic.com/s/newscycle/v13/9Xe8dq6pQDsPyVH2D3tMQvk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  src: local('Marmelad'), local('Marmelad-Regular'), url(https://fonts.gstatic.com/s/marmelad/v6/pMfc-mOWWCYIARYWClC1-RTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  src: local('Marmelad'), local('Marmelad-Regular'), url(https://fonts.gstatic.com/s/marmelad/v6/ex_s3xQUa8iKeVu5uPsVAxTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  src: local('Marmelad'), local('Marmelad-Regular'), url(https://fonts.gstatic.com/s/marmelad/v6/Tbti-8riliiBFfmL7Wrc8vesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.post .entry-content div {
    font-family: 'News Cycle', sans-serif;
    font-size: 19px;
    color: #2d2d2d;
 }
 .post h3.post-content{
    font-family: 'Marmelad', sans-serif;
    font-size: 31px;
    color: #dc1134;
 }
/*barra azul*/
.pun {
    border-top: 5px solid #b32222!important;
    border-radius: 5px!important;
    position: relative;
    top: -73px!important;;
}
/*Cat*/
.pun .main-content:hover {border-left:4px solid #b32222;}
.pun table.table {-moz-border-radius: 5px;-webkit-border-radius: 5px;border:0px solid #ddd!important;}
.pun a, .pun a:link, .pun a:visited, a {color:#00569C;}
.pun a:hover, .pun a:link:hover, .pun a:visited:hover, a:hover {color: #b32222!important;}
/*Nao ha post*/
td.tcr span a:empty:before {
content: "Não há posts para visualizar.";
cursor: default;
pointer-events: none;
text-align: center;
word-wrap: break-word;
}
/*FIM*/
/*fim footer*/
footer {width:98%!important;height:20px!important;margin-bottom:-10px!important;}
        .social {margin-top:4px!important;margin-left:50px!important;}
        body > footer > span {margin-right:60px!important;}
        body > footer > div:nth-child(2) > a > i {margin-left:-50px!important;}
/*Citação*/
cite{margin:-7px -13px 1em!important}
.post .codebox dt{background:#DAD8D8!important;padding-left:5px!important; color: #2D2D2D !important;}
blockquote cite:before{content:"\f10d"!important}
blockquote cite::before, dl.codebox > dt::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: #BCBCBC;
    border-radius: 100px;
    color: #2D2D2D;
    content: "\F121";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    height: 19px;
    line-height: 20px !important;
    margin-right: 3px;
    padding-right: 1px;
    text-align: center;
    text-rendering: auto;
    width: 27px;
}
blockquote cite {
    background: #DAD8D8;
    border: none;
    color: #2D2D2D;
    font-size: 12px;
    padding: 3px;
}

/*FIM*/
.pun table.table{border-collapse:initial !important;}
/*TOPICO modo hover*/
.tipsy {
padding: 5px;
font-size: 11px;
position: absolute;
text-shadow: none;
z-index: 999;
}
 
.tipsy-inner {
padding: 8px 8px 8px 8px;
background-color: black;
color: white;
max-width: 200px;
text-align: center;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
background: black url(http://cuul.tk/img/gradient.png) repeat-x 0 -150px;
}
 
.tipsy-inner {
border-radius: 3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}
 
.tipsy-arrow {
position: absolute;
background: url('http://cuul.tk/img/tipsy.gif') no-repeat top left;
width: 9px;
height: 5px;
}
 
.tipsy-n .tipsy-arrow {
top: 0;
left: 50%;
margin-left: -4px;
}
 
.tipsy-nw .tipsy-arrow {
top: 0;
left: 10px;
}
 
.tipsy-ne .tipsy-arrow {
top: 0;
right: 10px;
}
 
.tipsy-s .tipsy-arrow {
bottom: 0;
left: 50%;
margin-left: -4px;
background-position: bottom left;
}
 
.tipsy-sw .tipsy-arrow {
bottom: 0;
left: 10px;
background-position: bottom left;
}
 
.tipsy-se .tipsy-arrow {
bottom: 0;
right: 10px;
background-position: bottom left;
}
 
.tipsy-e .tipsy-arrow {
top: 50%;
margin-top: -4px;
right: 0;
width: 5px;
height: 9px;
background-position: top right;
}
.tipsy-w .tipsy-arrow {
top: 50%;
margin-top: -4px;
left: 0;
width: 5px;
height: 9px;
}
/*FIM*/
.pun table.table{
  border-collapse:none!important;
}

/*By while menu*/
header {
    background-size: cover;
    width: 100%;
    height: 320px;
 
}

.main_width, .pun {
    margin: 0 auto;
    min-width: 960px;
    width: 88%;
}
/*MENU*/
  header {
    background-size: cover;
    width: 100%!important;
    height: 320px!important;
}

.main_width, .pun {
    margin: 0 auto!important;
    min-width: 960px!important;
    width: 85%!important;
}
#header_bar {
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 5px!important;
    -o-box-shadow: rgba(0,0,0,0.3) 0 1px 5px!important;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 5px!important;
    background: #FFF!important;
    border-top: 3px solid #b32222!important;
    height: 60px!important;
    line-height: 60px!important;
    width: 100%!important;
    z-index: 999!important;
}
.menu-navegador {
    float: left!important;
    z-index: 100!important;
  position:absolute!important;
  height: 60px !important;
} .main_width {
    margin: 0 auto!important;
    min-width: 960px!important;
    width: 85%!important;

    }
    .menu-navegador li:hover  {
    background-color: #b32222!important;
    color: #FFF!important;
}
 
.menu-navegador li  {
    background-color: transparent!important;
    cursor: pointer!important;
    float: left!important;
    list-style-type: none!important;
    color: #848484!important;
    font-size: 13px!important;
    font-weight: bold!important;
    text-decoration: none!important;
    text-transform: uppercase!important;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.14)!important;
    height: 60px!important;
    line-height: 60px!important;
    padding: 0 18px!important;
    margin-left: 1px!important;
    font-family: Ubuntu!important;
    -webkit-transition: color .2s ease!important;
    -moz-transition: color .2s ease!important;
    -ms-transition: color .2s ease!important;
    -o-transition: color .2s ease!important;
    transition: color .2s ease!important;
}
.right, .right li {
padding-left: 5px!important;
                float: right!important;
                list-style-type: none !important;
        }
 
/*fim*/
div#main {
    margin-right: auto!important;
}.pun .user .user-ident .user-basic-info {margin-bottom:-35px!important;}
.main-content, .main.paged , #ptrafic_open {width:98%!important;}
.main .main-content {width:99%!important;}
        .pun-crumbs {width:95%!important;}
.rank {font-size:11px!important;width:150px;max-width:150px!important;}
#right, #left {display: none;}
.module .main-head .h3, .module .main-head h3 {
    font-size: 13px!important;
}
#lokodesc {display: none}
.statused tr td:hover #lokodesc {display: block !important}
/*fonts*/

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://fonts.gstatic.com/s/ubuntu/v7/_aijTyevf54tkVDLy-dlnFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/ubuntu/v7/_aijTyevf54tkVDLy-dlnD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/sDGTilo5QRsfWu6Yc11AXg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/ubuntu/v7/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://fonts.gstatic.com/s/ubuntu/v7/0ihfXUL2emPh0ROJezvraFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/ubuntu/v7/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
/*fonts*/

#branding .wrapper {
    height: 100%;
    position: relative;
    z-index: 10;
}
*,
*:after,
*:before {
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    -ms-transition: background 0.5s ease-out;
}
body {
    background: #dedede;
    color: #5A5A5A;
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    padding-bottom: 12px;
}
.pun {
    max-width: 1200px;
    width: 90%;
    background: white;
    border-radius: 0;
    padding: 10px;
}
.pun a,
.pun a:link,
.pun a:visited,
a {
    color: #666;
    text-decoration: none;
    font-family: ubuntu;
}
.pun a:hover,
a:hover {
    color: #444;
    text-decoration: none; font-family: Ubuntu;
}
#branding {
  background: #3C414B url(https://i.imgur.com/dLLNhf4.jpg) repeat scroll center top / cover;
  border-top: 3px solid #6485E2;
  height: 200px;
  line-height: 200px;
  width: 97%;
  padding: 10px;
  margin: 20px auto 0;
}
#branding:hover {
    background-position: center center;
}
.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
#logo a {
    color: #FFF;
    display: block;
    font-size: 31px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -2.1px;
}
div#logo {
    float: left;
}
#pun-intro,
#pun-head,
ul#pun-legend,
ul.pun-legend,
#qjump {
    display: none;
}
#community_app_menu {
    float: right;
}
ol,
ul {
    list-style: outside none none;
}

#community_app_menu > li {
    margin: 0px 1px 0px 0px;
    position: relative;
}
.ipsList_inline > li:first-child {
    margin-left: 0px;
}
.ipsList_inline > li {
    display: inline-block;
    margin: 0px 3px;
}
#primary_nav {
    font-size: 12px;
    margin-top: -16px;
    padding-left: 200px;
    position: absolute;
    right: 0px;
    text-transform: uppercase;
    top: 50%;
}
#community_app_menu > li > a {
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 0px 0.5em;
    outline: medium none;
    padding: 0px 15px;
}
#community_app_menu > li > a.menu_active,
#community_app_menu > li > a:hover {
    background: rgba(2, 1, 1, 0.1) none repeat scroll 0% 0%;
    color: #FFF;
}
#user_navigation {
    color: #9F9F9F;
    font-size: 11px;
    height: 36px;
    line-height: 36px;
}
#user_navigation .ipsList_inline li {
    float: left;
    margin: 0px;
    padding: 0;
}
#user_navigation a {
    float: left;
    height: 36px;
    line-height: 36px;
    outline: medium none;
    padding: 0px 12px;
}
#user_bar {
    padding: 5px 10px;
    margin: 0px -10px;
    background: #FFF none repeat scroll 0% 0%;
    border-bottom: 1px solid#ddd;
}
/*cat*/

.main .main-head {
    margin-top: 10px;
}
.main .main-foot,
/*By: Luig*/
.main .main-head {
    background-color: #b32222;
    color: #FFF;
    font-weight: 800 !important;
    padding: 15px;
    border-top:3px solid #b32222!important;
    font-size: 14px;
    font-family: Ubuntu, sans-serif;
  border-radius:0px 0px 3px 3px!important;
  box-shadow:rgba(0,0,0,0.3) 0 1px 5px;
}
.main .main-head .page-title {
    font-size: 14px;
    font-weight: 800;
    font-family: ubuntu;
}
.pun .main table td.tc2,
.pun .main table td.tc3,
.pun table.table td {
    background: transparent;
    border: 0;
    border: none;
    color: #777
}
.pun table .tcr {
    width: 30%;
    text-align: left;
    padding: 0px 0px 0px 0.5em !important;
    overflow: hidden;
}
thead {
    display: none;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    background: #FCFCFC none repeat scroll 0% 0%;
    border: 1px solid #D4D4D4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset;
    color: #9F9F9F;
    padding: 6px;
    text-shadow: 0px 1px 0px #FFF;
}
.pun .statused tr {
    background: #f7f7f7;
    border: 1px solid #ddd;
}
/*post*/
.user-basic-info img:first-child {
  background: #FFF;
  padding: 2px;
  max-width: 170px;
  max-height: 300px;
  margin-bottom: 5px;
}

.pun .postmain {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative
}
.pun .post .user:after {
    border-left-color: #f7f7f7;
    border-width: 7px;
    margin-left: 2px;
    margin-top: 1px
}
.pun .post .user {
    line-height: 150%;
    margin-left: -17em!important;
    margin-top: -3.3em;
    padding-top: 0;
    text-align: center;
    width: 15em;
    background: white;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.pun .username a span strong {
    font-weight: 400!important
}
.pun .user .user-ident .user-basic-info {
    margin-top: 15px;
    margin-bottom: -20px;
}
#first-post-br {
    border: 0
}
.pun .posthead,
.pun .username {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    font-weight: 400;
    padding: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6)
}
.pun .user-ident .username {
    margin: 0 auto;
    position: relative
}
.pun .posthead a {
    color: #444;
    font-size: 13px
}
.pun .posthead h2 {
    color: #444;
    font-weight: 400
}
.pun .posthead h2 strong {
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal
}
.pun .posthead h2 strong:before {
    content: '#'
}
.posthead[id] + .postbody .entry-content div + p:not(:empty) {
    background: #ffebc8 url(https://imgur.com/PIQA4LA.png) no-repeat 6px 10px;
    border: 1px solid #ecc272;
    color: #ac6328;
    font-family: "Trebuchet MS", tahoma, helvetica, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 18px;
    margin-top: 15px;
    padding: 8px 8px 8px 28px;
    text-shadow: #fffaf1 0 1px 0
}
.posthead[id] + .postbody .entry-content div + p:not(:empty) > br {
    display: none;
}
.pun .post,
.pun .postbody,
.pun .postmain {
    background-color: #fff!important
}
.pun .post {
    border: 0;
    margin: 5px
}
.postfoot {
    background: #f7f7f7;
    border-top: 1px solid #ddd;
    margin: 0;
    padding: 10px;
}
.pun .topic {
    border: 0;
    box-shadow: none;
    background: white;
    margin: 0
}
.pun .entry-content {
    font-size: 13px;
    line-height: 1.6
}
.pun .paged-foot,
.pun .paged-head {
    background-color: transparent;
    border: 0
}
.paged-head h1 {
    display: none
}
/*post*/

.pun-crumbs {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    line-height: 34px;
    margin: 0px 1px 10px;
    overflow: hidden;
    padding: 0.2em 1em;
}
.pun .pun-crumbs .crumbs {
    color: transparent;
}
p.crumbs a {
    background: transparent url("https://i.servimg.com/u/f39/11/55/08/10/pun-cr10.png") no-repeat scroll 100% -1px;
    color: #757575 !important;
    line-height: 30px;
    margin-left: -14px;
    padding: 10px 20px 10px 25px;
    position: relative;
    text-shadow: 0px 1px 0px #FFF;
    transition: none 0s ease 0s;
}
p.crumbs a:hover {
    background-position: 100% -44px;
}
.pun .postfoot .user-contact {
    display: none;
}
#pun-visit,
.main-box {
    width: 0;
    height: 0;
    overflow: hidden;
    background: transparent;
    border: none;
    display: none;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: rgb(60, 65, 75) none repeat scroll 0px 0px;
    border-radius: 3px;
    color: #FFFAFA !important;
    cursor: pointer;
    font-family: Ubuntu;
    font-size: 10px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    margin: 0px 2px;
    padding: 7px 11px !important;
    border: 0 solid #FFF;
}
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: rgb(100, 133, 226)
}
.main .main-content {
    background: #FFF;
    border: 1px solid #ddd;
    margin: 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 6px;
}
.frm-buttons {
    border-top: none !important;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px 0;
}
.forumtitle {
    font-size: 13px;
}
.status > img {
    display: none;
}
.status:before {
    content: '\f086';
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 120%;
}
.dev {
    float: right;
    font-weight: bold;
}
footer {
    background: #3B404A none repeat scroll 0px 0px;
    border-bottom: 3px solid #b32222;
    color: #FFF;
    font-size: 13px;
    font-weight: 100;
    height: 100px;
    line-height: 100px;
    padding: 10px;
    width: 90%;
    margin: 0 auto 20px;
}
.about {
    float: left;
}
#stats {
    background-color: white;
    line-height: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}
#onlinelist {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
}
.stats_text {
    color: #737C8D;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.stats_number {
    color: #737C8D;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.reputation {
    color: #5F7A47 !important;
    font-size: 13px;
    font-weight: bold;
}
.pun .user .user-info {
    color: #9c9c9c;
    line-height: 1.5em;
}
.fa-plus-circle::before {
    display: inline-block;
    margin: 0 2px;
}
.main-head h2,
.main-head h3 {
    font-weight: 800;
    font-size: 14px !important;
    font-family: Ubuntu, sans-serif;
}
#onlinechat {
    display: none;
}
.mp-local {
    background: #bbb;
    color: white !important;
    border-radius: 50%;
    height: 25px !important;
    line-height: 25px !important;
    width: 25px !important;
    text-align: center !important;
    padding: 0 !important;
    margin-top: 5px;
    font-weight: bold;
}
#groupLegend {
    font-size: 0
}
#groupLegend b {
    font-size: 11px
}
#groupLegend b:after {
    content: " • "
}
#groupLegend b:last-child:after {
    content: ""
}
.lastpost-avatar img {
    height: 38px;
    width: 38px;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #DDD;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 2px;
    margin: -3px 5px;
}
.arrow-u2 {
    border-left-color: #ddd!important;
    z-index: 99!important;
    left: -22px!important;
    border-left-width: 8px!important;
}
.arrow-u,
.arrow-u2 {
    width: 0;
    height: 0;
    z-index: 999;
    border: 7px solid;
    border-color: transparent transparent transparent #f7f7f7;
    position: absolute;
    left: -23px;
    margin-top: -25px;
}
.minicode {
    background-color: #F9F2F4;
    border-radius: 4px;
    color: #C7254E;
    display: inline-block;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 90%;
    margin: 3px 0px;
    padding: 2px 4px;
    white-space: nowrap;
}
pre.highlight {
  background-color: #FAFAFA !important;
  border: 1px solid #C9C9C9 !important;
  color: #000000;
  font-family: Consolas,"Bitstream Vera Sans Mono","Andale Mono",Monaco,"DejaVu Sans Mono","Lucida Console",monospace !important;
  font-size: 11px !important;
  line-height: 110% !important;
  max-height: 250px !important;
  overflow: auto !important;
  padding: 5px !important;
  white-space: pre-wrap !important;
  width: auto !important;
}
.cp_geral { width:340px; padding-top:50px; transition:all 150ms linear; } .cp_box { width:340px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; -webkit-box-shadow:1px 1px 12px 0 rgba(50,50,50,0.27); -moz-box-shadow:1px 1px 12px 0 rgba(50,50,50,0.27); box-shadow:1px 1px 12px 0 rgba(50,50,50,0.27); left:-120px; top:-13px; background:#fff; z-index:999; position:absolute; transition:all 150ms linear; margin:50px; } .cp_capa { background:#263340 url(https://i.imgur.com/6AnKAdN.png) right no-repeat; height:105px; -webkit-border-top-left-radius:10px; -webkit-border-top-right-radius:10px; -moz-border-radius-topleft:10px; -moz-border-radius-topright:10px; border-top-left-radius:10px; border-top-right-radius:10px; padding:5px 5px 0; } .cp_capa:before { content:""; display:inline-block; vertical-align:middle; margin-left:74px; width:0; height:0; position:absolute; top:-15px; border-left:15px solid transparent; border-right:15px solid transparent; border-bottom:15px solid #263340; } .cp_capa-avatar { -moz-border-radius:100%; -webkit-border-radius:100%; border-radius:100%; border:1px solid #d8d8d8; height:75px; width:75px; text-align:center; float:left; font-size:0; padding:7px; } .cp_capa-avatar img { -moz-border-radius:100%; -webkit-border-radius:100%; border:0 solid #d8d8d8; border-radius:100%; height:75px; width:75px; }.cp_capa-avatar img:nth-of-type(2){display:none} .cp_capa-nick { width:215px; height:75px; float:left; padding:25px 0 0 15px; } .cp_capa-nick strong { color:#fff!important; font-size:25px; font-weight:400!important; display:block; } .cp_info { text-align:center; padding:10px; } .cp_info-botoes { height:60px; width:320px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; text-decoration:none; } .cp_info-botoes a { text-decoration:none; } .cp_info-botoes-post { background:#ecf0f1; width:85px; height:53px; -webkit-border-top-left-radius:10px; -webkit-border-bottom-left-radius:10px; -moz-border-radius-topleft:10px; -moz-border-radius-bottomleft:10px; border-top-left-radius:10px; border-bottom-left-radius:10px; text-transform:uppercase; border-bottom:7px solid #bec3c7; float:left; } .cp_info-botoes-rep { background:#6bbd21; width:110px; height:53px; text-transform:uppercase; border-bottom:7px solid #68a72f; float:left; } .cp_info-botoes-rep strong { padding-top:8px; color:#fff; display:block; font-size:20px; } .cp_info-botoes-rep span { color:#fff; font-size:12px; } .cp_info-botoes-data strong { padding-top:8px; color:#666; display:block; font-size:15px; } .cp_info-botoes-data { background:#ecf0f1; width:125px; height:53px; -webkit-border-top-right-radius:10px; -webkit-border-bottom-right-radius:10px; -moz-border-radius-topright:10px; -moz-border-radius-bottomright:10px; border-top-right-radius:10px; border-bottom-right-radius:10px; text-transform:uppercase; border-bottom:7px solid #bec3c7; float:left; } .cp_info-botoes-post,.cp_info-botoes-rep,.cp_info-botoes-data { transition:all 150ms linear; } .cp_info-botoes-post:hover,.cp_info-botoes-rep:hover,.cp_info-botoes-data:hover { opacity:0.65; -moz-opacity:0.65; filter:alpha(opacity=65); } .cp_icones { background:#ecf0f1; -webkit-border-bottom-right-radius:10px; -webkit-border-bottom-left-radius:10px; -moz-border-radius-bottomright:10px; -moz-border-radius-bottomleft:10px; border-bottom-right-radius:10px; border-bottom-left-radius:10px; color:#bec3c7; height:20px; padding:5px; } .cp_icones a { font-size:12px; text-decoration:none; color:#666; } .cp_mp,.cp_perfil { float:left; padding-left:10px; transition:all 150ms linear; } .cp_mp:hover { float:left; padding-left:10px; color:#c1392b; } .cp_mp:before { content:"\f003"; font-family:FontAwesome; padding:0 4px; } .cp_perfil:before { content:"\f007"; font-family:FontAwesome; padding:0 4px; } .cp_perfil:hover { padding-left:10px; color:#6bbd21; } .cp_mais { width:100%; } .cp_capa-avatar br,.span_capa-nick img,.span_capa-nick br { display:none; } .cp_capa-nick span,.span_capa-nick { color:#fff!important; font-size:12px; line-height:22px; font-weight:400!important; float:none!important} .cp_info-botoes-post strong { padding-top:8px; color:#666; display:block; font-size:20px; } .cp_info-botoes-post span,.cp_info-botoes-data span { color:#868585; font-size:11px; }

.prettyprint ol.linenums {
  padding-left: 5px !important;
}
.pun{color:#666!important}

.topic_buttons {
  background-color: rgb(60, 65, 75)!important;
  padding: 10px 15px!important;
  border: none!important;
  cursor: pointer!important;
  color: white!important;
  font-weight: bold!important;
  text-transform: uppercase!important;
  border-radius: 4px!important;
  font-size: 11px!important;
  font-family: Open Sans,cursive;
  text-shadow: 0 1px 1px black;
}
.topic_buttons.important{background: darkred!important;}

.wraparound {
  background: #f7f7f7;
  border: 1px solid #ddd;
  padding: 8px;
  margin:10px 0;
}
.ipsUserPhotoLink img {
  float: left;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  padding: 2px;
  background: white;
}
.ftoggle {
  background: #E2E2E2;
  padding: 10px 15px;
  display:block;
  border-radius: 3px;
}
.ipsBox_withphoto {
  margin-left: 65px;
}
.ipsType_pagetitle, .ipsType_subtitle {
  font: 300 23px/1.3 Helvetica,Arial,sans-serif;
  color: #413f3c;
}
.desc.lighter, .desc.lighter.blend_links a, .desc.lighter.blend_links span a strong {
  color: #a49f98!important;
  font-weight: normal;
}
a.gensmall[style="color: #F55151"]:before {
  content: '\f013 \00A0';
  font-family: 'fontawesome';
}
a.gensmall[style="color: #5482D1"]:before {
  content: '\f0ad \00A0';
  font-family: 'fontawesome';
}
a.gensmall[style="color: #1BC25B"]:before {
  content: '\f1fb \00A0';
  font-family: 'fontawesome';
}
a.gensmall[style="color: #EDBE00"]:before {
  content: '\f1fc \00A0';
  font-family: 'fontawesome';
}
a.gensmall[style="color: #0EDEED"]:before {
  content: '\f000 \00A0';
  font-family: 'fontawesome';
}
a.gensmall[style="color: #FF0505"]:before {
  content: '\f209 \00A0';
  font-family: 'fontawesome';
}
#fa_share {
display: none !important;
}
 
#fa_toolbar #fa_icon {
display: none !important;
}
 
#fa_toolbar #fa_service {
margin-left: 16px !important;
}
 
#fa_right a.rightHeaderLink #fa_service {
font-family: "Lato","Arial","Helvetica",sans-serif;
font-weight: normal !important;
}
.user-info dd:nth-child(1) .post_field .label,  .user-info dd:nth-child(3) .post_field .label{font-size:0px;}
.user-info dd:nth-child(1) .post_field:after, .user-info dd:nth-child(3) .post_field:after{content:" posts"}
.user-info dd:nth-child(1) .post_field br, .user-info dd:nth-child(3) .post_field br  {display:none}
/***quote superinfo - mshas/artic/diapt***/
.postmain cite {
    background-color: transparent!important;
    background-image: none!important;
    color: #009FF2!important;
    display: block;
    font-size: 1vw!important;
    font-style: normal;
    font-weight: 700;
    margin: 0 0 1em;
}
.postmain cite {
    display: block;
    font-style: normal;
    font-weight: 700;
    margin: 0 0 1em;
}
blockquote cite {
    background-color: #E4EAF2;
    background-image: url(https://illiweb.com/fa/invision/css_img_quote.gif);
    background-position: top right;
    background-repeat: no-repeat;
    color: #000;
    display: block;
    font-size: 11px;
    font-style: normal;
    margin: -8px -8px 8px;
    padding: 3px;
}
* {
    margin: 0;
    padding: 0;
}
user agent stylesheeti, cite, em, var, address, dfn {
    font-style: italic;
}
blockquote {
    background: rgba(250,250,250,0.22)!important;
    border-bottom: none!important;
    border-left: 3px solid #009FF2!important;
    border-right: none!important;
    border-top: none!important;
    display: block;
    line-height: 1.5vw!important;
    padding: .8vw!important;
}
body #fa_toolbar #fa_right .fa_separator {
    background: #e5e5e5!important;
    color: #525252;
    display: block!important;
    font-size: 12px!important;
    font-weight: 700!important;
    height: 30px!important;
    margin: 0!important;
    padding: 0!important;
    text-align: left!important;
    width: 100%!important;
}
body #fa_menulist li:nth-child(9)::before {
    content: "Outras Opções";
    margin-left: 5px;
}
body #fa_menulist li:nth-child(4)::before {
    content: "Conteúdo";
    margin-left: 5px;
}
body #fa_menulist li:nth-child(2)::before {
    color: rgb(82, 82, 82);
    content: " Configurações";
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 30px;
    width: 100%;
    background: rgb(229, 229, 229) !important;
    margin: 0px !important;
    padding: 0px !important;
}
 #fa_menulist li a[href*="admin"]:before {
    content: "\f013";
}
body #fa_menulist a:hover {
    background: #f0f0f0!important;
    color: #333!important;
}
body #fa_usermenu img {
    float: right!important;
    max-width: 55px!important;
}
body #fa_usermenu {
    border-radius: 5px;
    float: right;
    font-size: 10px!important;
    margin-left: 185px;
    margin-top: 35px;
    padding: 0!important;
    text-align: right!important;
}
#fa_usermenu {
    position: absolute;
    left: 0px;
    width: 120px;
    padding: 10px 20px 10px 10px;
    color: #333333;
    font-size: 12px;
    text-align: center;
}
#fa_menu:hover :visited, #fa_toolbar > #fa_right.notification > #fa_notifications {
    color: #333333;
    background-color: #FFFFFF;
}
body #fa_menulist a:link, body #fa_menulist a:visited {
    color: #333!important;
    display: block!important;
    font-family: 'Roboto Condensed', Arial!important;
    font-size: 14px;
    font-weight: 300;
}
#fa_menulist li a[href*="/sta"]:before {
    content: "\f02b";
}
#fa_menulist li a:before {
    color: #525252!important;
    font-family: FontAwesome;
    font-size: 14px;
    margin: 0 5px;
}
body #fa_menulist {
    background-color: #fff!important;
    margin-left: 150px!important;
    padding: 5px!important;
    width: 300px!important;
}
#fa_menulist{
left: 732.5px!important;
}
#fa_ranktitle {display:none!important;}
#fa_usermenu td {display:none!important;}
#fa_menulist li a[href*="/u"]:before {
    content: "\f007";
}
#fa_menulist li a[href*="preference"]:before {
    content: "\f013";
}
#fa_menulist li a[href*="/spa"]:before {
    content: "\f086";
}
#fa_menulist li a[href*="watchsearch"]:before {
    content: "\f1d8";
}
#fa_menulist li a[href*="inbox"]:before {
    content: "\f0e0";
}
#fa_menulist li a[href*="logout"]:before {
    content: "\f08b";
}

.module table[style="table-layout:auto;"] tbody tr td > table tbody tr td img {
    content: "";
}
.module table[style="table-layout:auto;"] tbody tr td[width="4px"] {
    width: 0px
}
.module table[style="table-layout:auto;"] tbody tr td > table tbody tr td[style="overflow:hidden;"] {
    background: url('https://i.imgur.com/gGg8bgb.png') no-repeat;
    background-position: -0px -54px;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}
.module table[style="table-layout:auto;"] tbody tr:nth-child(1) td > table tbody tr td[style="overflow:hidden;"] {
    background-position: -0px -0px;
}
.module table[style="table-layout:auto;"] tbody tr:nth-child(2) td > table tbody tr td[style="overflow:hidden;"] {
    background-position: -0px -0px;
}
.module table[style="table-layout:auto;"] tbody tr:nth-child(3) td > table tbody tr td[style="overflow:hidden;"] {
    background-position: -0px -0px;
}
.module table[style="table-layout:auto;"] tbody tr:nth-child(4) td > table tbody tr td[style="overflow:hidden;"] {
    background-position: -0px -18px;
}
.module table[style="table-layout:auto;"] tbody tr:nth-child(5) td > table tbody tr td[style="overflow:hidden;"] {
    background-position: -0px -18px;
}
.module table[style="table-layout:auto;"] tbody tr:nth-child(6) td > table tbody tr td[style="overflow:hidden;"] {
    background-position: -0px -18px;
}
.module table[style="table-layout:auto;"] tbody tr:nth-child(7) td > table tbody tr td[style="overflow:hidden;"] {
    background-position: -0px -36px;
}
.module table[style="table-layout:auto;"] tbody tr:nth-child(8) td > table tbody tr td[style="overflow:hidden;"] {
    background-position: -0px -36px;
}
.module table[style="table-layout:auto;"] tbody tr:nth-child(9) td > table tbody tr td[style="overflow:hidden;"] {
    background-position: -0px -54px;
}
.module table[style="table-layout:auto;"] tbody tr:nth-child(10) td > table tbody tr td[style="overflow:hidden;"] {
    background-position: -0px -54px;
}
.module .main-content table[style="table-layout:fixed"] {
    background: #fafafa;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .1)25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .1)50%, rgba(255, 255, 255, .1)75%, transparent 75%, transparent);
    background-size: 10px 10px;
    border: #e1e1e1 1px solid;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: inset 1px -1px 9px -1px rgba(181, 181, 181, 1);
    -moz-box-shadow: inset 1px -1px 9px -1px rgba(181, 181, 181, 1);
    box-shadow: inset 1px -1px 9px -1px rgba(181, 181, 181, 1);
}
dl.codebox > dt {background:url(//i83.servimg.com/u/f83/16/58/89/73/page_w10.png) no-repeat scroll 10px center black!important;}
dl.codebox > dt {background:url(//i83.servimg.com/u/f83/16/58/89/73/page_w10.png) no-repeat scroll 10px center black!important;}
        dl.codebox code {overflow: auto!important;max-height: 1900px!important;}
        div.lineNumber {max-height:1900px!important;}

.module .main-head .h3:before, .module .main-head h3:before {
    color: #C8D2D8;
    content: "\f0c9";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    padding-right: 10px;
}
.module .main-head {
    background: #f7f7f7;
    border-bottom: 1px solid #E1E5EB!important;
    color: #727272;
    padding: 10px;
    text-shadow: rgba(255,255,255,0.8) 0 1px 0;
}
.module .main-head .h3, .module .main-head h3 {
    color: #757575;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}
.module .main-head {border:1px solid #ddd;}
      
    .avt-r img{
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #D5D5D5 !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    float: left;
    height: 35px;
    margin: 3px;
    padding: 1px;
    width: 30px;
    }
/******STAFF ONLINE**********/
.monAva img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  background: none repeat scroll 0 0 #FFF;
  border: 1px solid #d5d1c8;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  padding: 1px;
}
.monAva img:hover {
  border: 1px solid black;
}
.myStaff a {
  display:inline-block;
  vertical-align:top;
  margin-top:.75em;
}

.monAva img {
  height: 34px;
  width: 34px;
}
.wrapper {width:97%!important;max-width:6000px!important;}
        .pun {max-width: 5000px!important;margin-left: 50px;
width: 90%!important;}
footer {
background: #3B404A none repeat scroll 0 0;
border-bottom: 3px solid #b32222;
color: #FFF;
font-size: 13px;
font-weight: 100;
height: 100px;
line-height: 100px;
margin: 0 auto 20px;
padding: 10px;
width: 97%;
}
.pun table.table{border-collapse:initial !important;}
.pun .main-content {
-moz-border-radius: 4px;
-o-border-radius: 4px;
-webkit-border-radius: 4px;
background: #FFF;
border: 1px solid rgba(0,0,0,.1);
border-radius: 4px;
margin-bottom: 5px;
margin-top: 5px;
padding: 6px;
}
.pun .main-content {
background-color: #fbfbfb;
border: 1px solid #ddd;
}
/* BRILHO NICK DO FÓRUM ENTRE OUTRAS CONFIGURAÇÕES  */
/*victor*/
a[href="/u492"] {
background: url("http://i.imgur.com/6EHq3rY.gif");
}
a[href="/u492"] {
text-shadow: 0px 0px 3px #850000;
}
/*Helielto*/
a[href="/u1"] {
background: url("http://i.imgur.com/6EHq3rY.gif");
}
a[href="/u1"] {
text-shadow: 0px 0px 3px #BA0000;
}

/*Whize*/
a[href="/u25"] {
background: url("http://i.imgur.com/6EHq3rY.gif");
}
a[href="/u25"] {
text-shadow: 0px 0px 3px #BA0000;
}

/*Human_*/
a[href="/u2"] {
background: url("http://brasil-nl.com.br/forum/public/style_images/splatts/brilho.gif");
}
a[href="/u2"] {
text-shadow: 0px 0px 3px #009900;
}
/*ChatBox*/
#chatbox_header.main-head {
    -khtml-box-shadow: rgba(0,0,0,0.3) 0 1px 5px;
    -moz-border-radius: 4px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 5px;
    -o-border-radius: 4px;
    -webkit-border-radius: 0;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 5px;
    background: #1c1f25;
    border-bottom: 1px solid rgba(0,0,0,.20);
    border-radius: 0;
    border-top: 3px solid #b32222;
    box-shadow: rgba(0,0,0,0.3) 0 1px 5px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 700;
    height: 20px;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 8px;
    text-decoration: none;
    text-shadow: 0 2px 0 rgba(0,0,0,0.14);
    text-transform: uppercase;
}
#chatbox {
    background: #ebf0f3;
    border: 1px solid #DCE2EC;
    border-bottom: 6px solid #DCE2EC;
    margin: 10px 0;
    padding: 8px;
}
#chatbox_members {
    background: #fff;
    border-right: 2px solid #b32222;
    top: 40px;
}
#chatbox_footer {
    background: #f1f6f9;
    border-top: 1px solid #d5dde5;
    padding: 6px;
}
#chatbox_members .member-title {
    background: #1c1f25;
    border-radius: 0 0 4px 4px;
    border-top: 3px solid #b32222;
    box-shadow: rgba(0,0,0,0.3) 0 1px 5px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 12px;
    margin: 5px;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0,0,0,0.14);
    text-transform: uppercase;
    width: 164px;
}
input#message.post {
    -khtml-border-radius: 3px;
    -khtml-box-shadow: rgba(0,0,0,0.07) 0 1px 3px, inset rgba(255,255,255,0.75) 0 1px 0;
    -moz-border-radius: 3px;
    -moz-box-shadow: rgba(0,0,0,0.07) 0 1px 3px, inset rgba(255,255,255,0.75) 0 1px 0;
    -moz-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.07) 0 1px 3px, inset rgba(255,255,255,0.75) 0 1px 0;
    -webkit-transition: border .3s ease-in-out;
    background-color: #fafbfc;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.07) 0 1px 3px, inset rgba(255,255,255,0.75) 0 1px 0;
    color: #666;
    font-size: 12px;
    min-width: 378px;
    outline: 0;
    padding: 9px!important;
    transition: border .3s ease-in-out;
}
#message {
    height: 16px;
    margin-top: 3px;
    width: 250px;
}
#message, #submit_button {
    margin-left: 15px;
}
 
#chatbox_messenger_form {
    margin: 0!important;
}
#chatbox_messenger_form {
    margin: 10px 0 0;
}
#divcolor, #divsmilies, #help-button, #submit_button, .format-message + label {
    border: 1px solid #AAA;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    display: inline-block;
    height: 18px;
    line-height: 16px;
    text-align: center;
    width: 18px;
}
.fontbutton {
    -moz-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    background: #b32222 url(https://imgur.com/srUpLQz.png) repeat-x;
    border: 0!important;
    border-radius: 4px;
    border-top: 1px solid rgba(0,0,0,.20);
    color: #fff;
    cursor: pointer;
    font-family: Ubuntu!important;
    font-size: 13px;
    outline: 0;
    padding: 5px!important;
    text-shadow: 0 2px 0 rgba(0,0,0,0.14);
    transition: background .3s ease-in-out;
}
#submit_button {
    height: auto !important; }
/*Tags*/
.ipsBadge {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-image: url(https://i.imgur.com/6HxVAj3.png#highlight);
    background-position: 0 -1px;
    background-repeat: repeat-x;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 9px;
    font-weight: 700;
    height: 16px;
    line-height: 16px;
    margin-right: 2px;
    padding: 0 5px;
    text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
    text-transform: uppercase;
    vertical-align: middle
}
.ipsBadge_pedido {background-color: #3AAA00;}
.ipsBadge_oficial {background-color: #dbc388;}
.ipsBadge_tutorial {background-color: #5C5855;}
.ipsBadge_importante {background-color: #1f537b;}
.ipsBadge_revisão {background-color: #8B0000;}
.ipsBadge_regras {background-color: #00008B;}
.ipsBadge_regra {background-color: #27408B;}
.ipsBadge_denúncia {background-color: #FF4500;}

/*CSSeditor*/
  div.sceditor-group {
background: transparent !important;
border-bottom: none !important;
}
  /* Message-box-------------------------------------------------*/
#message-box {
   margin: 0 180px 0 0;
    }
#message-box textarea {
   color: #536482;
   font-family: Verdana,Arial,Helvetica,sans-serif;
   width: 100% !important;
    }
#textarea_content {
   margin: 0;
   overflow: hidden;
   text-align: left !important;
   width: 100% !important;
    }
#message-box .sceditor-container {
   border-color: rgba(0, 0, 0, 0.1) !important;
   border-style: solid !important;
   border-width: 1px !important;
   box-shadow: none !important;
   margin: 0;
   width: auto !important;
    }
.sceditor-container {
   background-color: #ffffff !important;
   border: none !important;
   border-radius: 3px !important;
   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06) !important;
   clear: both;
   width: 100% !important;
    }
.sceditor-container iframe,.sceditor-container textarea {
   background-color: transparent !important;
   font-family: Verdana,Arial,Helvetica,sans-serif !important;
   margin: 0 !important;
   padding: 18px !important;
    }
.sceditor-container textarea {
   transition: none;
    }
.sceditor-toolbar {
   background-color: #f7f7f7 !important;
   border-color: #cadceb !important;
   margin: 0 !important;
   padding: 0 3px 3px !important;
   text-align: center;
   width: 100%;
    }
.sceditor-group {
   background-color: transparent !important;
   border-color: rgba(0, 0, 0, 0.1) !important;
   border-radius: 0 !important;
   border-style: solid !important;
   border-width: 0 0 0 1px !important;
   margin: 3px 7px 0 -4px !important;
   padding: 0 0 0 3px !important;
    }
.sceditor-group:first-child {
   border: none !important;
    }
.sceditor-button {
   height: auto !important;
   padding: 6px !important;
   width: auto !important;
    }
.sceditor-button.active, .sceditor-button:active, .sceditor-button:hover {
   box-shadow: 0 0 18px rgba(0, 0, 0, 0.15) inset !important;
   background-color: transparent !important;
    }
.sceditor-button.hover {
   box-shadow: 0 0 36px rgba(0, 0, 0, 0.15) inset !important;
   background-color: transparent !important;
    }
#sceditor_smilies {
   background-color: #e1ebf2;
    }
#sce_smilies_body {
   background-color: transparent;
   background-image: none;
   margin: 0 !important;
   min-width: 1px !important;
    }
#textarea_content textarea#text_editor_textarea {
   width: 100% !important;
   height: 250px;
    }
#textarea_content iframe#text_editor_iframe {
   width: 100%;
   height: 100%;
    }
form#quick_reply #textarea_content textarea#text_editor_textarea {
   width: 100% !important;
   height: 150px;
    }
form#quick_reply #textarea_content iframe#text_editor_iframe {
   width: 100%;
   height: 100%;
    }
#quick_reply #textarea_content {
   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
    }
.mentiontag {
   background-color: #3793ff;
   color: #FFF;
   border-radius: 3px;
   font-weight: 500;
   padding: 1px 3px 2px;
    }
.mentiontag:link, .mentiontag:visited {
   color: #FFF;
    }
.mentiontag:hover, .mentiontag:active {
   background-color: #FF4F42;
   color: #FFF;
    }
 
/* Message-box OLD/NEW Editor-------------------------------------------------*/
.editor-message-box textarea {
   color: #536482;
   font-family: Verdana,Arial,Helvetica,sans-serif;
   width: 80%;
   font-size: 1.2em;
    }
.editor-textarea_content {
   margin-top: 2px;
    }
.editor-textarea_content textarea#text_editor_textarea {
   width: 100% !important;
   height: 250px;
    }
#quick_reply .editor-textarea_content textarea#text_editor_textarea {
   width: 100% !important;
   height: 150px;
    }

/*nova estrutura*/
thead, .pun .table .tc3 {
  display: none;
}
.table tbody.statused tr td {
background: rgba(223, 192, 192, 0)!important;
border: 0;
border-bottom: 1px solid #f3f3f3!important;
color: #5a5a5a;
}
.pun .main-content ol, .pun .main-content ul {
    list-style: none;
}
a.forumtitle{
  margin-left: 45px;
  text-decoration:none;
}
a.forumtitle:hover{text-decoration:none!important;
}
.status img {
    margin-top: 30px;
}
/*---*/
